@model WebAPP.Models.UserModel

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" asp-for="Name" class="form-control" placeholder="Name" />
    </div>
    <div class="form-group">
        <input type="text" asp-for="Surname"class="form-control" placeholder="Surname" />
    </div>
    <div class="form-group">
        <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
    </div>
     <div class="form-group">
        <input  asp-for="BirthDate" class="form-control"  placeholder="BirthDate"/>
    </div>
    <div class="form-group">
        <input type="text" asp-for="Phone" class="form-control"placeholder="Phone" />
    </div>
    <div class="form-group">
        <textarea type="text" asp-for="Location" class="form-control" placeholder="Location" ></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label> 
        <input type="file" asp-for="ImageFile" accept="image/*"/>
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Create</button>
    </div>
</form>